/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*asterisk wildcar selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*generic body styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: "pt sans", sans-serif;
    color: rgb(16, 16, 16);
}
/*
div {
    justify-content: space-between;
}
*/
/*anchor styling */
a {
    text-decoration: none;
    color: inherit;
}
/* generic header styling*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2235,152,52);
    color: white;
    padding-top: 10px;
    padding-left: 5rem;
    padding-bottom: 10px;
}
/*styling for cyprus flag logo in header*/
#logo {
   height: 7%;
   width: 7%;
}
/*nav bar styling*/
.nav-bar {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2em;
}
.nav-item {
    padding-right: 10px;
}
nav ul {
    list-style: none;
}
/*footer*/
.social-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
}
.social-image {
    height: 5%;
    width: 5%;
    margin: 10px;
}
/*main style*/
main {
    flex: 1 0 auto;
    padding: 2rem;
}
/*hero image*/
#hero {
    height:37rem;
    width: 100%;
    background:url(../images/lovers-bridge-cyprus.jpg) no-repeat center center/cover;
    position: relative;
}
/*text for hero image*/
#cover-text {
    color: antiquewhite;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
/*styling for text in orange box*/
.text1 {
    display: flex;
    padding: 15px;
    background-color:rgb(2235, 152, 52);
    color: white;
    margin-top: 30px;
}
/*
.item {
    flex: 1;
    margin: 10px;
}
*/
/*styling for content on home page*/
#homepage {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
}
#home-image {
    height: 17em;
    width: 27em;
}

/*
#pages {
    display: flex;
    padding: 15px;
    background-color: rgb(2235, 152, 52);
    color: white;
    margin-top: 30px;
    text-align: left;
}*/
/*
h3 {
    align-items: center;
}
*/
/*the-island page styling for images*/
.island-section {
    display: flex;
    justify-content: space-between;
}
.island-item {
}
#images-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:relative;
}
.island-image {
    height: 240px;
    width: 600px;
}
/*generic style for orange heading*/
.island-title {
    text-align: center;
    padding: 20px;
    color: rgb(2235, 152, 52);
    font-size: 150%;
}
/*gallery styles*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gallery-image {
    height: 160px;
    width: 280px;
    object-fit: cover;
}
/*form styling on contact page*/
.form-intro {
    padding: 2em;
    margin: 0 auto;
}
.contact {
    display: flex;
    flex-direction: column;
    background-color: rgb(2235, 152, 52);
    color: white;
    padding: 15px;
    width: 75%;
    margin: 0 auto;
}
form {
    display: flex;
    flex-direction: column;
}
.checkbox-group {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 200px;
}
.input-box {
    width:10rem;
}
#submit-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 0.5em;
    width: 7em;
}
/*media query for max width 1025px*/
@media screen and (max-width:1025px) {
body {
    display:flex;
}
#homepage {
    flex-direction: column;
    align-items: center;
}
.gallery {
    flex-direction: wrap;
    justify-content: space-around;
}
.gallery-image {
    width: 48%;
}
}
/*media query for max width 769px*/
@media screen and (max-width:769px){
#home-image{
    padding-top: 2rem;
}
.social-footer {
    padding-left: 15px;
    padding-right: 15px;
}
}
/*media query for max width 481px*/
@media screen and (max-width:481px){
    header {    
        padding-left: 4px;
        align-items:baseline;
    }
    .social-footer {
        padding-left: 10px;
        padding-right: 10px;
        }
    .gallery {
        flex-direction: column;
        padding: 0;
        justify-items: center;
    }
    .gallery-image {
        width: 90%;
    }
}
/*media query for max width 320px*/
@media screen and (max-width:320px){
    #home-image {
        width:18em;
    }
    .nav-bar {
        flex-direction: column;
        padding-right: 5px;
    }
    #logo {
        width: 2em;
    } 
}