/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/*asterisk wildcar selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*generic body styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    font-family: "pt sans", sans-serif;
    color: rgb(16, 16, 16);
}
/*anchor styling */
a {
    text-decoration: none;
    color: inherit;
}
/* generic header styling*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(2235,152,52);
    color: white;
    padding-top: 10px;
    padding-left: 5rem;
    padding-bottom: 10px;
}
/*styling for cyprus flag logo in header*/
#logo {
   height: 7%;
   width: 7%;
}
/*nav bar styling*/
.nav-bar {
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 2em;
}
.nav-item {
    padding-right: 10px;
}
nav ul {
    list-style: none;
}
/*footer*/
.social-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
}
.social-image {
    height: 5%;
    width: 5%;
    margin: 10px;
}
/*main style*/
main {
    flex: 1 0 auto;
    padding: 2rem;
}
/*hero image*/
#hero {
    height:37rem;
    width: 100%;
    background:url(../images/lovers-bridge-cyprus.jpg) no-repeat center center/cover;
    position: relative;
}
/*text for hero image*/
#cover-text {
    color: antiquewhite;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
/*styling for text in orange box*/
.text1 {
    display: flex;
    padding: 15px;
    background-color:rgb(2235, 152, 52);
    color: white;
    margin-top: 30px;
}
/*styling for content on home page*/
#homepage {
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    padding-right: 2em;
}
#home-image {
    height: 17em;
    width: 27em;
}
/*the-island page styling for images*/
.island-section {
    display: flex;
    justify-content: space-between;
}
.island-item {
}
#images-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position:relative;
}
.island-image {
    height: 240px;
    width: 600px;
}
/*generic style for orange heading*/
.island-title {
    text-align: center;
    padding: 20px;
    color: rgb(2235, 152, 52);
    font-size: 150%;
}
/*gallery styles*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gallery-image {
    height: 160px;
    width: 280px;
    object-fit: cover;
}
/*hero image on thankyou page*/
#hero-contact {
    height: 28rem;
    width: 100%;
    background: url(../images/coral-bay.jpeg) no-repeat center center/cover;
    position: relative;
}
#cover-contact {
    color: antiquewhite;
    font-size: 150%;
    position: absolute;
    bottom: 1rem;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
#contact-body {
    background-image: url(../images/background-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-title {
    text-align: center;
    padding: 20px;
    color: rgb(2235, 152, 52);
    font-size: 250%;
}
.contact {
    display: flex;
    flex-direction: column;
    background-color: rgb(2235, 152, 52);
    color: white;
    padding: 15px;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
}
form {
    display: flex;
    flex-direction: column;
}
.checkbox-group {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 200px;
    padding-top: 1em;
    padding-bottom: 1em;
}
.input-box {
    width: 14em;
}
.question-box {
    height: 21em;
    width: 14em;
}
.submit-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    padding: 0.5em;
    width: 7em;
}
/*media query for max width 1025px*/
@media screen and (max-width:1025px) {
body {
    display:flex;
}
#homepage {
    flex-direction: column;
    align-items: center;
}
.gallery {
    flex-direction: wrap;
    justify-content: space-around;
}
.gallery-image {
    width: 48%;
}
.contact {
    width:70%
}
.input-box {
    width: 100%;
    font-size: 160%;
}
.checkbox-group {
    font-size: 180%;
}
.question-box {
    width: 100%;
    height: 30em;
    font-size: 160%;
}
#form-text {
    font-size: 160%;
}
.submit-button {
    font-size: 160%;
    width: 60%;
    align-self: center;
}
}
/*media query for max width 769px*/
@media screen and (max-width:769px){
#home-image{
    padding-top: 2rem;
}
.social-footer {
    padding-left: 15px;
    padding-right: 15px;
}
.contact {
    width: 95%;
}
.input-box {
    width: 100%;
    font-size: 200%;
}
.question-box {
    width: 100%;
    font-size: 200%;
    height: 20em;
}
.checkbox-group {
    font-size: 200%;
}
}
/*media query for max width 481px*/
@media screen and (max-width:481px){
header {    
    padding-left: 4px;
    align-items:baseline;
}
.social-footer {
    padding-left: 10px;
    padding-right: 10px;
}
.gallery {
    flex-direction: column;
    padding: 0;
    justify-items: center;
}
.gallery-image {
    width: 90%;
}
.input-box {
    font-size: 120%;
}
.question-box {
    font-size: 120%;
}
.checkbox-group {
    font-size: 150%;
}
}
/*media query for max width 320px*/
@media screen and (max-width:320px){
#home-image {
    width:18em;
}
.nav-bar {
    flex-direction: column;
    padding-right: 5px;
}
#logo {
    width: 2em;
} 
.input-box {
    font-size: 90%;
}
    
.question-box {
    font-size: 90%;
}
    
.checkbox-group {
    font-size: 120%;
}
.submit-button {
    font-size: 100%;
}
.contact-title {
    font-size: 120%;
    font-weight: 200;
}
#form-text {
    font-size: 120%;
}
}